---
import { ResponsiveImage } from '~/components/ResponsiveImage';
import { StructuredText } from '@datocms/astro';
import DrivingCar from '~/components/DrivingCar/DrivingCar.astro';
const { title, image, introText } = Astro.props;
---

<div class="relative contain-layout">
  <span
    class="absolute z-[-1] bg-(--color-primary) w-(--ring-size) h-(--ring-size) rounded-[50%] top-[calc(-1*var(--ring-size)/2)] right-[calc(-1*var(--ring-size)/2)] lg:w-(--ring-size-large) lg:h-(--ring-size-large) lg:top-[-350px] lg:right-[-300px]"
  ></span>
  <div class="flex flex-col mb-5 lg:relative lg:flex-row lg:mb-10 lg:justify-between">
    <div
      class="flex flex-col gap-[15px] sm:gap-[25px] lg:justify-center lg:gap-20 lg:max-w-[556px]"
    >
      <h1 class="lg:w-min">{title}</h1>
      <div class="block pb-[15px] pr-[60px] lg:hidden">
        <ResponsiveImage
          data={image.responsiveImage}
          imgClass="rounded-[20px] shadow-(--hero-image-box-shadow)"
          priority={true}
        />
      </div>
      <div>
        <StructuredText data={introText} />
      </div>
    </div>
    <div class="hidden lg:block lg:pb-[25px] lg:pr-[30px]">
      <ResponsiveImage
        data={image.responsiveImage}
        imgClass="rounded-[20px] shadow-(--hero-image-box-shadow-lg)"
        priority={true}
      />
    </div>
  </div>
  <DrivingCar />
  <span
    class="absolute z-[-1] bg-(--color-primary) w-(--ring-size) h-(--ring-size) rounded-[50%] bottom-[calc(-1*var(--ring-size)/2)] left-[calc(-1*var(--ring-size)/2)] lg:w-(--ring-size-large) lg:h-(--ring-size-large) lg:bottom-[-300px] lg:left-[-250px]"
  ></span>
</div>
